*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: #eeeeee 10px 10px 10px ;
    margin-bottom:20px;
}

.menu{
    height: auto;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-item > a {
    text-decoration: none;
    color:#b1b1b1;
    padding:15px;
    font-size: 1.2rem;
}

.menu-item > a.active{
    color:#8c8c8c;
}

.menu-item:hover > a{
    color:#8c8c8c;
}

.main-content{
    width: 90%;
    margin: auto;
}

   /* Desactivar los estilos de las flechas de ordenamiento en el encabezado */
   table.dataTable thead .sorting:after,
   table.dataTable thead .sorting_asc:after,
   table.dataTable thead .sorting_desc:after,
   table.dataTable thead .sorting_asc_disabled:after,
   table.dataTable thead .sorting_desc_disabled:after {
       content: "\2193 \2191";
   }

   /* Asegúrate de que los estilos del fondo de la columna de ordenamiento se desactiven */
   thead .sorting, 
   thead .sorting_asc, 
   thead .sorting_desc, 
   thead .sorting_asc_disabled,
   thead .sorting_desc_disabled {
       background-image: none !important;
   }
   

   .paginate_button{
    padding: 10px;
    background: #637A9F;
    color:white;
    margin:0 2px;
    border-radius:2px;
    text-decoration: none;
}

.paginate_button:hover{
    background: #1F2544;
}

.dataTables_paginate{
    padding:10px 0;
}

.current{
    background: #1F2544;
}

table.dataTable{
   box-shadow: 2px 2px 10px #B4B4B8;
}


td {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
}

.loader-container{
    width: 100%;
    height: 100vh;  
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 10;
  }

.loading {
 --speed-of-animation: 0.9s;
 --gap: 6px;
 --first-color: #4c86f9;
 --second-color: #49a84c;
 --third-color: #f6bb02;
 --fourth-color: #f6bb02;
 --fifth-color: #2196f3;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100px;
 gap: 6px;
 height: 100px;
}

.loading span {
 width: 4px;
 height: 50px;
 background: var(--first-color);
 animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
 background: var(--second-color);
 animation-delay: -0.8s;
}

.loading span:nth-child(3) {
 background: var(--third-color);
 animation-delay: -0.7s;
}

.loading span:nth-child(4) {
 background: var(--fourth-color);
 animation-delay: -0.6s;
}

.loading span:nth-child(5) {
 background: var(--fifth-color);
 animation-delay: -0.5s;
}

@keyframes scale {
 0%, 40%, 100% {
  transform: scaleY(0.05);
 }

 20% {
  transform: scaleY(1);
 }
}